{
  "presets": [
      [
        "@babel/preset-env", { "targets": { "node": "current" } }
      ]
    ],
  "ignore": ["builtins", "node_modules/**/*.js"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
